*{
    margin: 0;
    padding: 0;

}
.appContainer{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 255, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    height: 80vh;
    width: 30vw;
    border-radius: 24px;
    gap: 1.25rem;

}
.inputWrapper{
    height: 60px;
    width: 100%;
    margin: 0 12px;
    display: flex;
    gap: 2rem;
}
.headingTitle{
    margin-top: 12px;
    color: black;
    text-align: center;
}

.inputBox{
    height: 100%;
    width: 300px;
    border-radius: 24px;
    padding-left: 12px;
}
.addBtn{
    height: 100%;
    width: 122px;
    border-radius: 24px;
}

.listingItemsWrapper{
    height: 453px;
    width: 100%;
    /* background-color: aqua; */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.listingItems{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-items: center; */
}
.listedItems{
    height: 44px;
    width: 222px;
    background-color:lightblue;
    border-radius: 12px ;
    margin-left: 12px;
display: flex;
justify-content: center;
align-items: center;
gap: 2px;

}
.deleteIcon{
    height: 34px;
    outline: none;
    width: 34px;
    cursor: pointer;
    background-color:lightblue;
    
    border: none;

}


.itemWrapper{
    width: 80%;
    padding-left: 12px;
}
.footer{
    display: flex;
    width: 100vw;
    justify-content: end;
    padding-right: 23px;
    box-sizing: border-box;

}
.editNote{
    font-size: 34px;
    cursor: pointer;
}